/*Daily.css*/
.user-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 30px;  /* 우측 여백 40px 추가 */
  z-index: 100;
}
/* 전체 레이아웃 */
.daily-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px; /* 고정된 헤더 아래 여백 */
  background-image: url("/public/assets/poc_background_daily.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 스크롤해도 배경 고정 */
  min-height: 100vh; /* 화면 전체를 꽉 채우도록 최소 높이 설정 */
}

.daily-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px; /* 헤더와의 간격 */
}

/* 2. 좌측 (Aside) */
.daily-aside {
  flex: 1; /* 좌측 컴포넌트가 1:1 비율로 차지 */
  padding-right: 20px;
}
.time-tracker-box{
  background-color: #FFFBF1;
  border-radius: 28.8px;
  border: 12px solid #FFE3D6;
}
.memo-pad{
  background-color: #FFFBF1;
  border-radius: 28.8px;
}

/* 3. 중앙 (Main) */
.daily-main {
  flex: 1.3; /* 중앙은 우측보다 넓게 */
  padding: 20px;
  margin: 0 20px; /* 좌우 여백 */
  
}


/* 4. 우측 (Bside) */
.daily-bside {
  flex: 1; /* 우측 컴포넌트가 1:1 비율로 차지 */
  padding-left: 20px;
}



.mini-monthly {
  width: 371.2px;
  height: 371.2px;
  background-color: #FFFBF1;
  border-radius: 28.8px;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center;     /* 수직 중앙 정렬 */
  margin-bottom: 10px;
}


/* PhotoGallery */
.photo-gallery {
  /* 필요한 스타일 추가 */
  width: 100%;
  height: auto;
  background-color: #FFFBF1;
  border-radius: 28.8px;
}