/* 전체 컨테이너 */
.monthly-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/public/assets/poc_background_monthly.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* 헤더 스타일 */
.calendar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #FAFAFA;
  height: 8.99%;
  width: 90.15625%;  /* react-calendar와 동일한 width 설정 */
  margin-top: 1%;
  padding: 0;
}

.Num-m {
  position: relative; /* 부모 div에 relative 포지셔닝 */
  display: inline-block; /* inline-block을 사용하여 이미지와 텍스트가 함께 정렬될 수 있게 */
}

.Num-m-img {
  width: 9.97rem; /* 이미지의 크기를 부모 div에 맞추기 */
  height: auto; /* 이미지의 비율을 유지 */
}

.Num-m-text {
  position: absolute; /* 텍스트를 이미지 위에 절대적으로 배치 */
  top: 50%; /* 이미지의 수직 가운데에 텍스트 배치 */
  left: 56%; /* 이미지의 수평 가운데에 텍스트 배치 */
  transform: translate(-50%, -50%); /* 정확히 중앙 정렬 */
  font-size: 6.4rem; /* 텍스트 크기 */
  font-weight: 400; /* 텍스트 두께 */
  -webkit-text-stroke: 0.1rem #36923e;
}


.En-y-m {
  font-size: 2.75rem;
  font-family: 'SUIT Variable', sans-serif;
  font-weight: 700;
  text-shadow: 
  0.05rem 0 0 #8a402a, 
  -0.05rem 0 0 #8a402a, 
  0 0.05rem 0 #8a402a, 
  0 -0.05rem 0 #8a402a;
}

/* 캘린더와 네비게이션 버튼을 포함하는 컨테이너 
773.6px*/
.calendar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 81%;
}

/* 이전/다음 달 버튼 스타일 */
.prev-month-button, .next-month-button {
  background: none;
  border: none;
  cursor: pointer;
  color: transparent; /* 텍스트 숨김 */
  background-size: contain; /* 이미지 비율을 유지하며 버튼에 맞게 크기 조정 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  background-position: center; /* 이미지가 버튼의 중앙에 위치하도록 */
  width: 12%; /* 버튼 너비 12%로 설정 */
  height: auto; /* 높이를 자동으로 설정하여 비율을 유지 */
  aspect-ratio: 1; /* 너비와 높이 비율을 1:1로 유지 */
}

/* 이전 달 버튼 */
.prev-month-button {
  background-image: url('/public/assets/poc_monthly_left_arrow.png'); /* 이전 달 버튼 이미지 경로 */
}

/* 다음 달 버튼 */
.next-month-button {
  background-image: url('/public/assets/poc_monthly_right_arrow.png'); /* 다음 달 버튼 이미지 경로 */
}


/* 달력 스타일 704px*/
.react-calendar {
  border: none;
  font-family: cafe24Syongsyong;
  width: 100%;
  height: 100%;
  border-radius: 2.7vh; 
  background-color: transparent;

}

 /* 요일 헤더 각 셀 */
 .react-calendar__month-view__weekdays{
  font-family: 'SUIT Variable', sans-serif;
  font-weight: 600;
  font-size: 2.5vh ; /* 반응형 폰트 크기 */
  color: #FAFAFA;
  height: 7.1vh;
  width: 100%;
 }
 .react-calendar__month-view__weekdays__weekday {
  text-align: center;
  padding: 5px;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  background-color: #FF6B81;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  
}


.react-calendar__month-view__weekdays__weekday abbr{
  text-decoration: none;
  
}
/* 각 날짜 셀 스타일 */
.react-calendar__tile {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: #FFF8E7;
  max-height: 12vh;
  max-width: auto;
  position: relative; /* 날짜와 아이콘을 배치하기 위해 필요 */
  border: 1.6px dashed #FFDDE3 !important; /* 점선 외곽선 추가 */
}

.react-calendar__tile abbr {
  visibility: hidden; /* 날짜 숫자 숨김 */
}

.date-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 12vh;
}

.date-label {
  position: absolute;
  top: 10%;
  left: 6%;
  font-size: 1.6rem;
  padding: px; /* 내부 여백 추가 (배경을 키우는 역할) */
  border-radius: 100%;  /* 동그라미 모양 */
  width: 1.75rem;         /* 너비 */
  height: 1.75rem;        /* 높이 */
  line-height: 1.75rem;   /* 세로 중앙 정렬 */
  text-align: center;  /* 가로 중앙 정렬 */

}

.sunday {
  color: #E63946;
}
.saturday {
  color: #4F4A88;
}
.weekday {
  color: #885D4A;
}

/* 날짜를 감싸는 span 태그에 동그라미 배경색 */
.date-label span {
  display: inline-block;
  background-color: rgba(136, 93, 74, 0.2); /* 기본 배경색 */
}

/* 요일별 배경색 */
.sunday span {
  background-color: #FCD7D8; /* 일요일 배경색 */
}

.saturday span {
  background-color: #E6E4F8; /* 토요일 배경색 */
}

.weekday span {
  background-color: #FAFAFA; /* 평일 배경색 */
}
/* 아이콘 박스 */
.icon-box {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  /* 부모 요소(tile) 기준으로 중앙 정렬 */
  position: absolute;
  left: 55%;
  transform: translate(-60%, -50%);
}


.icon-placeholder {
  font-size: 3rem;

}


.icon img{
  width: 3.5rem;
}


.has-todo, .no-todo {
  opacity: 1;
}

.no-todo {
  opacity: 0.1; /* 할 일이 없는 경우 불투명 처리 */
}


/* 오늘 날짜에 기본 border 스타일 적용 */
.react-calendar__tile.react-calendar__tile--now {
  border: 3.2px solid #FFC1DC !important;
}

/* hover 시 오늘 날짜의 border가 사라지고, hover된 날짜에만 border가 생기도록 설정 */
.react-calendar__tile:hover {
  border: 3.2px solid #FFC1DC !important;
  background-color: #FFF8E7 !important;

}



/* 현재 달이 아닌 날짜를 불투명하게 */
.neighboring-month {
  background-color: #FFFBF1;
  filter: blur(1.5px);  /* 3px 정도의 블러 효과 */
}
