
/* 로그인 사용자 정보 */
.user-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-size: 16px;
}

.user-name {
  margin-right: 10px;
}

.logout-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: #e60000;
}

/* 전체 컨테이너 */
.monthly-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/public/assets/poc_background_monthly.png"); 
  background-size: cover; /* 배경을 화면에 꽉 채우기 */
  background-position: center; /* 중앙 정렬 */
  background-repeat: no-repeat; /* 반복 제거 */

}

/* 헤더 스타일 */
.calendar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #FAFAFA;
  height: 8.99%;
  width: 90.15625%;  /* react-calendar와 동일한 width 설정 */
  margin-top: 1%;
  padding: 0;
}

.Num-m {
  position: relative; /* 부모 div에 relative 포지셔닝 */
  display: inline-block; /* inline-block을 사용하여 이미지와 텍스트가 함께 정렬될 수 있게 */
}

.Num-m-img {
  width: 9.97rem; /* 이미지의 크기를 부모 div에 맞추기 */
  height: auto; /* 이미지의 비율을 유지 */
}

.Num-m-text {
  position: absolute; /* 텍스트를 이미지 위에 절대적으로 배치 */
  top: 50%; /* 이미지의 수직 가운데에 텍스트 배치 */
  left: 50%; /* 이미지의 수평 가운데에 텍스트 배치 */
  transform: translate(-50%, -50%); /* 정확히 중앙 정렬 */
  color: white; /* 텍스트 색상 */
  font-size: 6.4rem; /* 텍스트 크기 */
  font-weight: 400; /* 텍스트 두께 */
  -webkit-text-stroke: 0.1rem #36923e;
}


.En-y-m {
  font-size: 2.75rem;
  font-family: 'SUIT Variable', sans-serif;
  font-weight: 800;
  text-shadow: 
  0.05rem 0 0 #8a402a, 
  -0.05rem 0 0 #8a402a, 
  0 0.05rem 0 #8a402a, 
  0 -0.05rem 0 #8a402a;
}

/* 캘린더와 네비게이션 버튼을 포함하는 컨테이너 
773.6px*/
.calendar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 81%;
  
}

/* 이전/다음 달 버튼 스타일 */
.prev-month-button, .next-month-button {
  background: none;
  border: none;
  cursor: pointer;
  color: transparent; /* 텍스트 숨김 */
  background-size: contain; /* 이미지 비율을 유지하며 버튼에 맞게 크기 조정 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  background-position: center; /* 이미지가 버튼의 중앙에 위치하도록 */
  width: 12%; /* 버튼 너비 12%로 설정 */
  height: auto; /* 높이를 자동으로 설정하여 비율을 유지 */
  aspect-ratio: 1; /* 너비와 높이 비율을 1:1로 유지 */
}

/* 이전 달 버튼 */
.prev-month-button {
  background-image: url('/public/assets/poc_monthly_left_arrow.png'); /* 이전 달 버튼 이미지 경로 */
}

/* 다음 달 버튼 */
.next-month-button {
  background-image: url('/public/assets/poc_monthly_right_arrow.png'); /* 다음 달 버튼 이미지 경로 */
}


/* 달력 스타일 704px*/
.react-calendar {
  border: none;
  font-family: cafe24Syongsyong;
  width: 100%;
  height: 100%;
}

/* 요일 스타일 */
.react-calendar__month-view__weekdays {
  font-weight: bold;
  text-align: center;
  
}

/* 각 날짜 셀 스타일 */
.react-calendar__tile {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

/* 요일별 색상 */
.sunday {
  color: red;
}
.saturday {
  color: blue;
}
.weekday {
  color: brown;
}

/* 오늘 날짜 강조 */
.react-calendar__tile--now {
  border: 2px solid black;
  border-radius: 50%;
}

/* 현재 달이 아닌 날짜를 불투명하게 */
.neighboring-month {
  opacity: 0.4;
}
