/* TimeTracker.css */

.time-tracker {
  display: flex;
  flex-direction:column; /* 시간을 가로로 배치 */
  width: 100%;
  height: 550px;
  max-width: 100%;
  margin-left: 35px;
}

.hour-block {
  
  position: relative;
  width: 90%; /* 각 시간 블록의 가로 크기 */
  height: 100%;
  border-bottom: 1px solid #C3A39C;
  display: flex;
  flex-direction: column; /* 30분 단위로 세로로 나열 */
  z-index: 2;
}
.hour-block span {
  position: absolute;
  left: -20px; /* 시간을 블록 밖에 배치 */
  font-size: 14px;
  color: #333;
  font-family: "SUIT Variable";
}

.half-hour-line {
  position: absolute;
  top: 0;
  left: 50%; /* 수평 가운데 */
  height: 100%;
  border: dashed #C3A39C;
  border-width: 1px;
  z-index: 7;
}

.todo-block {
  position: absolute;
  width: 49%; /* 시간 블록의 가로 크기 */
  height: 83.5%; /* 30분 단위로 세로 크기 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 2px;
  
}


.timemodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.timemodal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.timemodal button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background: #007bff;.time-tracker {
  display: flex;
  flex-direction: row; /* 시간을 가로로 배치 */
  width: 100%;
  height: 400px;
  max-width: 100%;
}









  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.timemodal button:hover {
  background: #0056b3;
}
